.cart-empty .cart__warnings {
    display: block;
}

.cart__footer-container.cart-empty,
.cart-empty .cart__contents,
.cart-empty .main-cart-items-container {
    display: none;
}

.cart-drawer__inner-wrapper.cart-empty cart-drawer-items,
.cart-drawer .cart-empty .cart-drawer__checkout-container {
    display: none;
}

.cart__warnings {
    display: none;
    width: 100%;
    text-align: center;
}

.cart__warnings .cart__empty-text-wrapper {
    margin: 80px 0;
}

.cart__empty-product-recommend {
    margin-top: 80px;
}

.cart-drawer .cart__warnings .cart__empty-text-wrapper {
    margin: 200px 0;
}

.cart-drawer .cart__empty-product-recommend {
    margin-top: 200px;
}

.cart__empty-text {
    margin-bottom: 20px;
    color: rgb(var(--color-text));
}

.cart__level-wrapper {
    justify-content: space-between;
    align-items: flex-start;
}

.cart__level-wrapper svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.cart__level-wrapper .cart__level-label {
    display: flex;
    align-items: center;
    gap: 4px;
    opacity: 0.6;
}

.cart__level-wrapper .cart__level-value {
    color: rgba(var(--color-discount));
    white-space: nowrap;
}

.content-for-layout:has(.cart__footer-wrapper) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
    width: 100%;
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 2rem;
}

.content-for-layout:has(.cart__footer-wrapper) .cart__footer-wrapper {
    width: 478px;
    margin-top: 130px;
}

.content-for-layout:has(.cart__footer-wrapper) .shopify-section-main-cart-items {
    width: calc(100% - 498px);
    padding-right: 60px;
}

div#main-cart-footer {
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    padding: 17px 20px;
    margin-bottom: 30px;
}

.cart-title-items-count h1.title.title--primary {
    font-size: 40px;
    color: #131313;
}

.cart-title-items-count h1.title.title--primary span {
    font-size: 16px;
    color: #131313;
}

.content-for-layout:has(.shopline-section .cart-empty) .shopify-section-main-cart-items {
    width: 100%;
}

@media (max-width: 1360px) {
    .content-for-layout:has(.cart__footer-wrapper) .shopify-section-main-cart-items {
        width: calc(100% - 398px);
    }

    .content-for-layout:has(.cart__footer-wrapper) .cart__footer-wrapper {
        width: 378px;
    }

    .shopify-section-main-cart-items .cart-item__details a.cart-item__name,
    .shopify-section-main-cart-items .cart-item__details .product-option,
    .shopify-section-main-cart-items .cart-item__totals .final__price,
    .cart__footer-wrapper div#free-shipping-bar p,
    p.cart-logo-text-main {
        font-size: 14px;
    }

    .content-for-layout:has(.cart__footer-wrapper) .shopify-section-main-cart-items {
        padding-right: 30px;
    }

    .shopify-section-main-cart-items .cart-item__quantity .quantity {
        width: 72px;
        height: 28px;
    }

    h2.totals-shipping-label,
    h2.page-totals-subtotal-label {
        font-size: 16px;
    }

    .cart__footer-container li.cart__total em.body2.fw-bold,
    .cart__footer-container li.cart__total span.body2.fw-bold {
        font-size: 18px;
    }
}

@media(max-width: 1024px) {
    .content-for-layout:has(.cart__footer-wrapper) {
        position: unset;
        max-width: 100%;
        padding: 0;
        display: block;
    }

    .content-for-layout:has(.cart__footer-wrapper) .shopify-section-main-cart-items {
        width: 100%;
        padding: 0 20px;
    }

    .content-for-layout:has(.cart__footer-wrapper) .cart__footer-wrapper {
        width: 100%;
        padding: 0 20px;
        margin: 0;
    }
}

@media (max-width: 959px) {
    .cart__warnings .cart__empty-text-wrapper {
        margin: 130px 0;
    }

    .cart__empty-product-recommend {
        margin-top: 130px;
    }

    .cart-drawer .cart__warnings .cart__empty-text-wrapper {
        margin: 80px 0;
    }

    .cart-drawer .cart__empty-product-recommend {
        margin-top: 80px;
    }

    .cart-title-items-count h1.title.title--primary {
        font-size: 32px;
    }

    .cart-title-items-count h1.title.title--primary span {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .cart-title-items-count h1.title.title--primary {
        font-size: 30px;
    }

    .shopify-section-main-cart-items .cart-item__details .product-option {
        font-size: 12px;
    }

    .shopify-section-main-cart-items .cart-item__totals .final__price {
        font-size: 16px;
    }

    p.cart-logo-text-main {
        font-size: 14px;
    }
}

/* The ipad end responds to the mobile end in vertical screen */

/* @custom-media --tablet (max-width: 959px); */

/* @custom-media --gt-mobile (min-width: 751px); */

/* detectingScreen need to consider the configuration of the tablet */