.custom-announce-slide {
    background: var(--bg_color);
    padding-bottom: var(--padding-bottom);
    padding-top: var(--padding-top);
}

.image-first-after-text img {
    display: block;
    width: 12px;
    height: auto;
}

.left-side-links-items {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 0 0 15%;
    max-width: 15%;
}

.find-store-img {
    display: flex;
    align-items: center;
    gap: 6px;
}

.custom-announce-slide * {
    color: var(--color) !important;
    font-family: 'ANTA Sharp Grotesk Medium';
}

a.announce-link-items {
    display: block;
    width: fit-content;
    font-size: 16px;
    text-transform: lowercase;
}

span.divider-items:after {
    position: absolute;
    width: 1px;
    height: 19px;
    background: #fff;
    top: -9px;
    left: 0;
    content: '';
}

span.divider-items {
    position: relative;
    display: block;
}

a.announce-text-items {
    margin: 0;
    font-size: 14px;
    font-family: 'ANTA Sharp Grotesk Medium';
    display: block;
}

.custom-announce-flex-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.middle-announcemnent-bar {
    flex: 0 0 45%;
    max-width: 45%;
    text-align: center;
}

.middle-swiper-items-announce .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.3;
    width: 4px;
    height: 4px;
    margin: 0 !important;
}

.middle-swiper-items-announce .swiper-pagination-bullet-active {
    opacity: 1;
}

.middle-wrap-items {
    padding: 0 0 6px 0;
}

.middle-swiper-items-announce .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    bottom: 0;
}


.custom-announce-slide .dropdown-menu__list li * {
    color: #000 !important;
    font-size: 14px;
    line-height: 1.25;
}

.localization-trigger {
    display: flex;
    align-items: center;
    gap: 8px;
}

.localization-list a {
    display: flex !important;
    align-items: center;
    gap: 7px;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
}

.localization-list a:hover {
    background: #3f6de0;
    color: #fff !important;
}

.flag {
    width: 22px;
    height: auto;
    border-radius: 2px;
}

.label {
    font-size: 14px;
    white-space: nowrap;
}

.dropdown-menu__list-wrapper {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    z-index: 999;
}

.country-selector-announce .dropdown-menu__list-wrapper {
    padding: 0;
}


.header__localization .dropdown-menu__button>img.flag {
    width: 32px;
    height: 19px;
    display: block;
}

.dropdown-menu__list a img.flag {
    width: 32px;
    height: 19px;
    display: block;
}

.custom-announce-slide .dropdown-menu__list a.localization-item span {
    color: #494949 !important;
}

.dropdown-menu__list a {
    padding: 5px 20px !important;
}

/* @media(min-width:1024px) {
    announcement-bar-slider .page-width {
        max-width: calc(var(--page-padding) * 2 + 1500px);
    }
}
 */
.country-selector-announce {
    display: flex;
    align-items: center;
    gap: 18px;
}

.main-all-links-text {
    display: flex;
    align-items: center;
    gap: 12px;
}

.link_txt_items {
    display: flex;
    font-size: 14px;
}

span.divider-items-main {
    font-size: 16px;
    color: rgb(255 255 255 / 60%) !important;
}

.other-middle-announcemani .middle-swiper-items-announce .swiper-pagination-bullet {
    background: #000;
    opacity: 0.3;
    width: 4px;
    height: 4px;
    margin: 0 !important;
}

.other-middle-announcemani .middle-swiper-items-announce span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}

.other-middle-announcemani {
    border-bottom: 1px solid #D4D4D4;
    padding: 10px 0;
    background: #F8F8F8;
    z-index: 0;
    position: relative;
}

.other-announce-swip-arrow::after {
    content: unset;
}

.other-announce-swip-arrow {
    width: 13px;
}

.other-announce-swip-arrow.swiper-button-next {
    background: transparent;
    border: unset;
}

.other-announce-swip-arrow svg path {
    fill: #9A9A9C;
}

.other-middle-announcemani .middle-announcemnent-bar {
    margin: 0 auto;
}

.swiper-announce-btns {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-announce-btns.swiper-next-btn-custom {
    right: 0;
}

.swiper-announce-btns svg path {
    stroke: #9A9A9C;
    stroke-width: 2px;
}

@media(max-width: 959px) {

    .left-side-links-items,
    .country-selector-announce,
    .without-home-announce {
        display: none;
    }

    .middle-announcemnent-bar {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .header__localization .dropdown-menu__button>img.flag {
        width: 22px;
        height: auto;
    }

    .dropdown-menu__list a img.flag {
        width: 22px;
        height: auto;
    }
}

#shopline-section-header.header-dropdown-open {
    z-index: 1;
}

.custom-announce-slide .dropdown-menu__list li a:hover {
    background: #3f6de0;
}

.custom-announce-slide .dropdown-menu__list li a:hover * {
    color: #fff !important;
}