@keyframes slideshowTextRiseUp {
    0% {
        opacity: 0;
        transform: translateY(120%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.featured-slideshow .slide-pagination.click .slide-pagination-bullet::before {
    background-color: rgb(var(--color-text));
}

.featured-slideshow {
    display: block;
    position: relative;
}

.featured-slideshow__slider {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 100% !important;
}

.featured-slideshow__slide {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    height: 100%;
}

.featured-slideshow-slide__media {
    position: relative;
    width: var(--featured-slideshow-image-text-layout);
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
}

@media screen and (max-width: 959px) {
    .featured-slideshow__slider {
        height: 100%;
    }

    .featured-slideshow__slide {
        flex-direction: column !important;
    }

    .featured-slideshow-slide__media {
        width: 100% !important;
        height: var(--featured-slideshow-image-text-layout);
        min-height: 240px;
        flex-shrink: 1;
    }

    .featured-slideshow-slide__content {
        width: 100% !important;
        padding: 30px !important;
        height: unset !important;
    }

    .featured-slideshow-slide__content-line {
        height: 32px !important;
        margin: 16px 0 !important;
    }
}

.featured-slideshow-slide__content {
    width: 50%;
    height: 100%;
    background: var(--featured-slideshow-text-background-color);
    flex-grow: 1;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 40px;
    flex-direction: column;
    align-items: var(--featured-slideshow-text-content-horizontal-layout);
    justify-content: center;
    box-sizing: border-box;
}

.featured-slideshow-slide__content .featured-slideshow-slide__title {
    color: rgb(var(--featured-slideshow-text-area-font-color));
}

.featured-slideshow-slide__content .featured-slideshow-slide__button {
    --color-button-text: var(--featured-slideshow-text-area-button-font-color);
}

.featured-slideshow-slide__content .featured-slideshow-slide__button:not(.button--link) {
    --color-button-background: var(--featured-slideshow-text-area-button-background-color);
}

.featured-slideshow-slide__content .featured-slideshow-slide__button:not(.button--link)::after {
    box-shadow: 0 0 0 var(--btn-border-thickness) rgba(var(--featured-slideshow-text-area-button-border-color),
            var(--border-opacity)),
        0 0 0 var(--btn-border-thickness) rgba(var(--color-button-background), var(--alpha-button-background));
}

.featured-slideshow-slide__content .featured-slideshow-slide__button:hover:not(.button--link)::after {
    box-shadow: 0 0 0 calc(var(--btn-border-thickness) + 1px) rgba(var(--featured-slideshow-text-area-button-border-color),
            var(--border-opacity)),
        0 0 0 calc(var(--btn-border-thickness) + 1px) rgba(var(--color-button-background), var(--alpha-button-background));
}

.featured-slideshow-slide__content-line {
    display: none;
    width: 100%;
    height: 100px;
    margin: 38px 0;
    justify-content: var(--featured-slideshow-text-content-horizontal-layout);
}

.featured-slideshow-slide__content-line::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgb(var(--featured-slideshow-text-area-font-color));
}

.show-content-line .featured-slideshow-slide__content-line {
    display: flex;
}

.show-content-line .featured-slideshow-slide__button {
    margin-top: 0;
}

.featured-slideshow-slide__media::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: calc(var(--featured-slideshow-overlay-opacity, 0) / 100);
    background-color: rgba(var(--color-mask));
    display: block;
    content: "";
    z-index: 1;
}

.featured-slideshow-slide__media--adapt .featured-slideshow-slide__image,
.featured-slideshow-slide__media--adapt .featured-slideshow-slide__image-placeholder {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.featured-slideshow-slide__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.featured-slideshow-slide__image-placeholder {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 450px;
}

.featured-slideshow-slide__image-placeholder>svg {
    display: block;
    height: 100%;
    max-height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 959px) {
    .featured-slideshow-slide__image-placeholder {
        min-height: 250px;
    }

    .featured-slideshow-slide__image-placeholder>svg {
        height: 80%;
    }
}

.featured-slideshow-slide__text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 80px;
    align-items: var(--featured-slideshow-content-vertical-layout);
    justify-content: var(--featured-slideshow-content-horizontal-layout);
}

.featured-slideshow-slide__text-wrapper.slide-text-left-items {
    left: 7.8125vw;
}

.featured-slideshow-slide__text {
    position: relative;
}

.featured-slideshow-slide__text>[data-animation] {
    opacity: 0;
    transform: translateY(120%);
}

.featured-slideshow-slide__desc {
    margin-top: 40px;
    margin-bottom: 20px;
    color: rgb(var(--featured-slideshow-text-font-color)) !important;
}

@media (max-width: 959px) {
    .featured-slideshow-slide__desc {
        margin-top: 20px;
    }
}

@media screen and (max-width: 959px) {
    .featured-slideshow-slide__text {
        text-align: var(--slideshow-mobile-text-align, "center");
    }
}

.featured-slideshow-slide__button {
    opacity: 0;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    margin-top: 40px;
    --color-button-text: var(--featured-slideshow-button-font-color);
}

.featured-slideshow-slide__button.button--secondary {
    background-color: transparent;
}

.featured-slideshow-slide__button:not(.button--link) {
    --color-button-background: var(--featured-slideshow-button-background-color);
}

.featured-slideshow-slide__button:not(.button--link)::after {
    box-shadow: 0 0 0 var(--btn-border-thickness) rgba(var(--featured-slideshow-button-border-color), var(--border-opacity)),
        0 0 0 var(--btn-border-thickness) rgba(var(--color-button-background), var(--alpha-button-background));
}

.featured-slideshow-slide__button:hover:not(.button--link)::after {
    box-shadow: 0 0 0 calc(var(--btn-border-thickness) + 1px) rgba(var(--featured-slideshow-button-border-color), var(--border-opacity)),
        0 0 0 calc(var(--btn-border-thickness) + 1px) rgba(var(--color-button-background), var(--alpha-button-background));
}

@media (max-width: 959px) {
    .featured-slideshow-slide__button {
        margin-top: 20px;
    }
}

.featured-slideshow-slide__title {
    color: rgb(var(--featured-slideshow-text-font-color));
}

.is-active .featured-slideshow-slide__text>[data-animation] {
    animation: slideshowTextRiseUp 0.8s cubic-bezier(0.26, 0.54, 0.32, 1) forwards;
}

.is-active .featured-slideshow-slide__text .featured-slideshow-slide__desc {
    animation-delay: 0.6s;
}

.is-active .featured-slideshow-slide__button {
    animation-name: fadeIn;
}


.featured-control__arrow-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.featured-control__arrow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s;
    border: unset;
    background: rgb(255 255 255 / 50%);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.featured-control__arrow-button svg {
    color: #fff;
    width: 26px;
    height: 26px;
}

.featured-control__arrow-button:hover {
    background: #fff;
}

.featured-control__arrow-button svg * {
    stroke: #fff !important;
}

.featured-control__arrow-button:hover svg * {
    stroke: #000 !important;
}

.featured-control__arrow-button.next-btn-items {
    right: 6.2500vw;
}

.featured-control__arrow-button.prev-btn-items {
    left: 6.2500vw;
}

@media screen and (max-width: 959px) {
    .feature-slideshow__control--arrows {
        right: 20px;
    }

    .featured-control__arrow-button {
        width: 32px;
        height: 32px;
    }

    .featured-slideshow-slide__text-wrapper {
        padding: 40px;
    }
}

.featured-slideshow-slide__text-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 493px;
    height: 406px;
}

.featured-slideshow-slide__text-mask.mask-deep {
    border-radius: 50%;
    background: radial-gradient(77.64% 77.64% at 50% 50%,
            rgba(0, 0, 0, 0.3) 59.64%,
            rgba(0, 0, 0, 0) 100%);
    filter: blur(120px);
}

.featured-slideshow-slide__text-mask.mask-light {
    border-radius: 50%;
    background: radial-gradient(77.64% 77.64% at 50% 50%,
            rgba(255, 255, 255, 0.3) 59.64%,
            rgba(255, 255, 255, 0) 100%);
    filter: blur(120px);
}

.featured-slideshow-slide__desc {
    font-size: var(--content-size-desktop);
    max-width: 470px;
    margin-top: 12px;
}

.featured-slideshow-slide__desc * {
    font-size: var(--content-size-desktop);
}

.featured-slideshow-slide__desc strong {
    font-family: 'ANTA Sharp Grotesk Bold';
}

h2.custom-font.featured-slideshow-slide__title {
    font-size: var(--title-size-desktop);
    text-transform: capitalize;
}

.video-content-btn-main,
a.video-content-btn-main {
    display: flex;
    padding: 10px;
    line-height: 1.2;
    width: 146px;
    background: var(--bg-color);
    font-size: 20px;
    color: var(--text-color);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    margin: 0;
    text-transform: capitalize;
}

.video-content-btn-main *,
a.video-content-btn-main * {
    color: var(--text-color);
    text-transform: capitalize;
}

.video-content-btn-main span.top-text,
a.video-content-btn-main span.top-text {
    transform: translateY(0%);
    transition: all 0.3s ease;
}

.video-content-btn-main span.bottom-text,
a.video-content-btn-main span.bottom-text {
    position: absolute;
    transform: translateY(200%);
    transition: all 0.3s ease;
}

.video-content-btn-main:hover span.top-text,
a.video-content-btn-main:hover span.top-text {
    transform: translateY(-200%);
    transition: all 0.3s ease;
}

.video-content-btn-main:hover span.bottom-text,
a.video-content-btn-main:hover span.bottom-text {
    transform: translateY(0%);
    transition: all 0.3s ease;
}

.featured-slideshow-btns-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.featured-slideshow__pagination {
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    justify-content: center;
}

.slide-pagination {
    display: flex;
    align-items: center;
    gap: 6px;
}

.slide-pagination-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(255 255 255 / 50%);
    border: unset;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slide-pagination-dot.is-active {
    background: #fff;
}

.featured-slideshow-slide__text.button-position {
    padding: 0 0 0 var(--button-po-hr-desktop);
    margin-top: var(--button-po-ver-desktop);
}

@media screen and (min-width: 959px) {
    .featured-slideshow-slide__text.content-desktop-center .featured-slideshow-btns-items {
        justify-content: center;
    }

    .featured-slideshow-slide__text.content-desktop-flex-end .featured-slideshow-btns-items {
        justify-content: flex-end;
    }

    .featured-slideshow-slide__text.content-desktop-start .featured-slideshow-btns-items {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 959px) {
    .featured-slideshow-slide__text-mask {
        width: 355px;
        height: 292px;
    }

    h2.custom-font.featured-slideshow-slide__title {
        font-size: var(--title-size-mobile);
    }

    .featured-slideshow-slide__desc,
    .featured-slideshow-slide__desc * {
        font-size: var(--content-size-mobile);
        line-height: 1.3;
    }

    .featured-slideshow-slide__text-wrapper {
        left: 0;
    }

    .video-content-btn-main,
    a.video-content-btn-main {
        font-size: 16px;
        width: 105px;
    }

    .featured-slideshow-slide__text-wrapper.mobile-flex-end {
        align-items: end;
        padding-bottom: 70px;
        justify-content: center;
    }

    .featured-slideshow-slide__text-wrapper.mobile-center {
        align-items: center;
        justify-content: center;
        height: 90%;
    }

    .featured-slideshow-slide__text-wrapper.mobile-start {
        align-items: flex-start;
        justify-content: center;
    }

    .featured-slideshow-slide__text.content-center {
        text-align: center !important;
    }

    .featured-slideshow-slide__text.content-start {
        text-align: left !important;
    }

    .featured-slideshow-slide__text.content-flex-end {
        text-align: right !important;
    }

    .featured-slideshow-slide__text.content-flex-end a.video-content-btn-main,
    .featured-slideshow-slide__text.content-flex-end .video-content-btn-main {
        margin-left: auto;
    }

    .featured-slideshow-slide__text.content-start a.video-content-btn-main,
    .featured-slideshow-slide__text.content-start .video-content-btn-main {
        margin-right: auto;
    }

    .featured-slideshow-slide__text.content-center a.video-content-btn-main,
    .featured-slideshow-slide__text.content-center .video-content-btn-main {
        margin-right: auto;
        margin-left: auto;
    }

    .featured-slideshow-slide__text-wrapper.slide-text-left-items {
        left: 0;
    }
}

@media(max-width:749px) {
    .featured-slideshow-slide__text.content-center:has(.featured-slideshow-btns-items.button-position) {
        width: 100%;
    }

    .featured-slideshow-slide__text.button-position {
        padding: 0 0 0 var(--button-po-hr-mobile);
        margin-top: var(--button-po-ver-mobile);
    }
}

@media (max-width:460px) {


    a.video-content-btn-main {
        font-size: 12px;
        width: 94px;
        margin: 0;
    }

    .featured-slideshow-slide__desc {
        line-height: 1.5;
        margin: 10px 0 18px 0;
    }

    .featured-slideshow-slide__text-wrapper {
        padding: 20px;
    }


}

/* The ipad end responds to the mobile end in vertical screen */
/* @custom-media --tablet (max-width: 959px); */
/* @custom-media --gt-mobile (min-width: 751px); */
/* detectingScreen need to consider the configuration of the tablet */