h2.main-subscribe-title-content {
    font-size: 50px;
    color: #000000;
    line-height: 1.2;
}

p.main-subscribe-content-info {
    margin: 14px 0 25px 0;
    line-height: 1.5;
    font-size: 18px;
    text-transform: capitalize;
    color: #000000;
}

label.subscription_label-popup-custom {
    font-size: 18px;
    color: #000000;
    font-family: 'ANTA Sharp Grotesk Bold';
    display: block;
    text-transform: capitalize;
    line-height: 1;
    margin: 0 0 13px 0;
}

input.subscription_input-popup-custom {
    padding: 14px 18px;
    border-radius: 4px;
    border: 1px solid #707070;
    height: 48px;
    width: 100%;
    font-size: 16px;
    color: #000000;
    font-family: 'ANTA Sharp Grotesk Medium';
}

.button-popup-custom.button-link-popup-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    background: #000;
    color: #fff;
    border: none;
    font-family: 'ANTA Sharp Grotesk Medium';
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    margin: 14px 0 0 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}

a.button-popup-custom.button-link-popup-custom:hover {
    background: #000;
}

a.button-popup-custom.button-link-popup-custom span.top-text {
    transform: translateY(0%);
    transition: all 0.3s ease;
    color: #FFFFFF;
}

a.button-popup-custom.button-link-popup-custom span.bottom-text {
    position: absolute;
    transform: translateY(200%);
    transition: all 0.3s ease;
    color: #FFFFFF;
}

a.button-popup-custom.button-link-popup-custom:hover span.top-text {
    transform: translateY(-200%);
    transition: all 0.3s ease;
    color: #FFFFFF;
}

a.button-popup-custom.button-link-popup-custom:hover span.bottom-text {
    transform: translateY(0%);
    transition: all 0.3s ease;
    color: #FFFFFF;
}

.subscribe-popup-social-media li a svg * {
    fill: #000;
}

.subscribe-popup-social-media li a svg {
    width: 24px;
    height: 24px;
}

.subscribe-popup-social-media .footer__list-social {
    gap: 37px;
    justify-content: center;
    margin: 24px 0 0 0;
}

.subscribe-popup-image-item .desktop-popup-image {
    display: block;
}

.subscribe-popup-image-item .mobile-popup-image {
    display: none;
}

.subscribe-popup-image-item img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}

.popup-image-text-subscribe {
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    max-width: 1004px;
    padding-left: 40px;
    width: 96%;
}

.subscribe-popup-content-item {
    flex: 0 0 48%;
    max-width: calc(48% - 34px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}

.subscribe-popup-image-item {
    flex: 0 0 52%;
    max-width: 52%;
}

.popup-image-text-subscribe {
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    max-width: 1004px;
    padding-left: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
}

.subscription-pop-up-popup {
    position: fixed;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgb(0 0 0 / 40%);
}

.subscribe-popup-items-main {
    width: 100%;
    height: 100%;
}

.close-popup-items {
    position: absolute;
    top: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    background: #000;
    justify-content: center;
    border-radius: 30px;
    right: 20px;
    cursor: pointer;
}

.close-popup-items svg {
    width: 18px;
    height: 19px;
}

.subscription-pop-up-popup {
    display: none;
}

.subscription-pop-up-popup.active {
    display: block;
}

body.popup-open {
    overflow: hidden;
}

.member-close-items svg {
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
}

.member-btn-items .desktop-gift-image {
    display: block;
    width: 100%;
    max-width: 19px;
    height: 19px;
    object-fit: contain;
}

.member-btn-items .mobile-gift-image {
    display: none;
}



.new-member-btn-items {
    align-items: center;
    gap: 4px;
    flex-direction: column;
    width: fit-content;
    background: #000;
    color: #fff;
    padding: 14px 9px;
    position: fixed;
    z-index: 9;
    right: 0;
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
    border-radius: 14px 0px 0px 14px;
    cursor: pointer;
    top: auto;
    bottom: 100px;
}

.member-close-items {
    cursor: pointer;
}

.member-btn-items {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}


p.new-member-itm-txt {
    margin: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border-top: 1px solid #ffffff85;
    padding-top: 9px;
    margin-top: 3px;
}

@media(max-width: 1024px) {
    h2.main-subscribe-title-content {
        font-size: 34px;
    }

    p.main-subscribe-content-info {
        margin: 7px 0 14px 0;
        font-size: 14px;
    }

    label.subscription_label-popup-custom {
        font-size: 14px;
        margin: 0px 0 8px 0;
    }

    input.subscription_input-popup-custom {
        padding: 9px 13px;
        height: 44px;
        font-size: 14px;
    }

    .button-popup-custom.button-link-popup-custom {
        height: 45px;
        font-size: 14px;
        margin: 14px 0 0 0;
    }

    .subscribe-popup-social-media .footer__list-social {
        gap: 26px;
        margin: 18px 0 0 0;
    }

    .subscribe-popup-social-media li a svg {
        width: 19px;
        height: 19px;
    }
}

@media(max-width: 768px) {
    p.new-member-itm-txt {
        display: none;
    }

    .new-member-btn-items {
        z-index: 9;
        right: 23px;
        align-items: end;
        gap: 0;
        border-radius: 40px;
        box-shadow: unset;
        background: transparent;
        bottom: 50px;
    }

    .subscribe-popup-image-item .desktop-popup-image {
        display: none;
    }

    .subscribe-popup-image-item .mobile-popup-image {
        display: block;
    }

    .subscribe-popup-content-item {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 16px 22px 16px;
    }

    .popup-image-text-subscribe {
        gap: 20px;
        padding: 0;
    }

    .subscribe-popup-image-item {
        flex: 0 0 100%;
        max-width: 100%;
        order: -1;
    }

    h2.main-subscribe-title-content {
        font-size: 30px;
    }

    .subscribe-popup-image-item img {
        border-radius: 8px 8px 0 0;
    }

    label.subscription_label-popup-custom {
        font-size: 16px;
        margin: 0px 0 8px 0;
        font-family: 'ANTA Sharp Grotesk Medium';
    }

    .close-popup-items {
        top: 14px;
        width: 24px;
        height: 24px;
        right: 14px;
        background: #fff;
    }

    .close-popup-items svg * {
        stroke: #000;
    }

    p.main-subscribe-content-info br {
        display: none;
    }

    .member-btn-items .mobile-gift-image {
        display: block;
    }

    .member-close-items {
        cursor: pointer;
        margin-right: -4px;
        margin-bottom: -2px;
    }

    .member-btn-items .desktop-gift-image {
        display: none;
    }

    .mobile-gift-image {
        border-radius: 40px;
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.16);
        background: #000;
        width: 40px;
        height: 42px;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .mobile-gift-image img.mobileimg-gift-image {
        width: 100%;
        height: 100%;
        max-width: 20px;
        object-fit: contain;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .member-close-items svg {
        width: 17px;
        height: 17px;
    }
}